table{
  border:1px dashed black;
  border-collapse: collapse;
}
table.test-table {
  background-color: bisque;
}
table.test-table td{
  border:1px solid black;
  padding: 1rem;/*16px*/
}
td.error{
  color: red
}

table.exercise-table {
  border: solid green;
  width: 400px;

  background-color: rgb(233, 227, 227);
}
table.exercise-table td{
  border:2px solid purple;
  width: 80px;
  padding-left: 20px;
}
span.exercise-name{
  color: blueviolet;
}